<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>author details</title>
  </head>
  <body>
    <%-include('navbar', {links: links}) %>
    <div>
      <h1><%= author.first_name %> <%= author.last_name %></h1>
      <p><%= author.birth_date %></p>
    </div>
    <a href="/author/<%= author.id %>/edit">Edit author</a>
  </body>
</html>
