<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Manga</title>
</head>
<body>
  <h1>Update Manga</h1>
  <form action="/manga/<%= manga.id %>" method="post">
    <input type="hidden" name="_method" value="PUT"> <!-- Method Override -->
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= manga.title %>">
    
    <label for="release_date">Release Date:</label>
    <input type="date" id="release_date" name="release_date" value="<%= manga.release_date.toISOString().split('T')[0] %>">
    
    <label for="author">Author:</label>
    <select id="author" name="author">
      <% authors.forEach(author => { %>
        <option value="<%= author.id %>" <%= author.id === manga.author_id ? 'selected' : '' %>><%= author.first_name %> <%= author.last_name %></option>
      <% }) %>
    </select>
    
    <label for="publisher">Publisher:</label>
    <select id="publisher" name="publisher">
      <% publishers.forEach(publisher => { %>
        <option value="<%= publisher.id %>" <%= publisher.id === manga.publisher_id ? 'selected' : '' %>><%= publisher.name %></option>
      <% }) %>
    </select>
    
    <button type="submit">Update</button>
  </form>
</body>
</html>
